{% extends "layout.html" %}
{% block title %}Welcome!{% endblock %}
{% block body %}
<!-- start: Content -->
<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-9">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-list"></i><span class="break"></span>InMobi Setup Guide</h2>
                </div>
                <div class="box-content">
                    <div class="page-header">
                        <h1> Working with InMobi</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Work Flow</h2>
                            <div class="tooltip-demo well">
                                <p>Instructions and screenshots for setting up InMobi campaigns go here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->
        {% include 'sidebar.html' %}
    </div>
    <!--/row-->
</div>
<!-- end: Content -->
<!-- start: JavaScript-->
<!--[if !IE]>-->
<script src="assets/js/jquery-2.1.0.min.js"></script>
<!--<![endif]-->
<!--[if IE]>
<script src="assets/js/jquery-1.11.0.min.js"></script>
<![endif]-->
<!--[if !IE]>-->
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
</script>
<!--<![endif]-->
<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- page scripts -->
<script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="assets/js/jquery.sparkline.min.js"></script>
<script src="assets/js/jquery.chosen.min.js"></script>
<script src="assets/js/jquery.autosize.min.js"></script>
<script src="assets/js/jquery.placeholder.min.js"></script>
<script src="assets/js/wizard.min.js"></script>
<!-- theme scripts -->
<script src="assets/js/custom.min.js"></script>
<script src="assets/js/core.min.js"></script>
<!-- inline scripts related to this page -->
<script src="assets/js/pages/form-wizard.js"></script>
<!-- end: JavaScript-->
{% endblock %}